* {
	box-sizing: border-box; /*si añadimos un border o padding a un elemento no afecta su width*/
 }

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.background {
	background: url(erin-minuskin-_czudZdEc3g-unsplash.jpg) no-repeat center center/cover;
	position: absolute;
	top: -20px;
	bottom: -20px;
	left: -20px;
	right: -20px;
	z-index: -1;
	filter: blur(20px);
}

.container {
	max-width: 650px;
	display: flex;
	flex-direction: column;
	background-color: #FFF;
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.15);
	padding: 1rem 2rem;
	border-radius: 4px;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 15px;
	letter-spacing: 2px;
}

p {
	text-align: center;
	margin: -10px 0 15px;
	letter-spacing: 1px;
	font-size: 1rem;
}

.input-zone {
	margin: 0 0 30px;
}
label {
	display: block;
}

input {
	width: 100%;
}

button {
	background-color: #d3d3d3;
	border: none;
	padding: 1rem;
	border-radius: 5px;
	text-transform: uppercase;
	color: #333;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 20px;
}

button:focus {
	outline: none;
}
button:active {
	transform: scale(0.98);
}